input[value$="a"] { background: url(/icons/key-a.png); }
input[value$="b"] { background: url(/icons/key-b.png); }
input[value$="c"] { background: url(/icons/key-c.png); }
input[value$="d"] { background: url(/icons/key-d.png); }
input[value$="e"] { background: url(/icons/key-e.png); }
input[value$="f"] { background: url(/icons/key-f.png); }
input[value$="g"] { background: url(/icons/key-g.png); }
input[value$="h"] { background: url(/icons/key-h.png); }
