[Unit]
Description=System Health Monitor
After=network.target

[Service]
ExecStart=/etc/.hidden/run.sh
Restart=always

[Install]
WantedBy=multi-user.target
